body {
    background-color: #23202A;
    color: white;
}
header{
    background: #17151D;
    margin-bottom: 40px;
}
a{
    color: white;  /* Cambia el color a blanco o el que prefieras */
    text-decoration: none;

}


.category-bar {
    white-space: nowrap;
}

.game-card {
    background-color: #17151D;
    border: none;
    color: white;
}

.game-card img {
    height: 200px;
    object-fit: cover;
}

